<h1> Login </h1>

<%= link_to "Sign In With Facebook", "/auth/facebook" %>
<p> 
<p style="color:red"> <%= flash[:error] %> </p> 
</p> 
<%= form_for(:user) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %> 
    <%= f.label :password %>
    <%= f.password_field :password %> 
    <br>
    <%= f.submit "Login" %> 
    <% end %> 