<h1> Ratings </h1>

<% @ratings.each do |rating| %> 
<li> <%= rating.game.title.split.map(&:capitalize).join(' ')%> (<%= rating.game.platform.name%>)
    <ul>
        <li> Score: <%= rating.score %></li>
        <li> Description: "<%= rating.content %>"</li>
        <li> Reviewed By: <%=rating.user.username.capitalize %></li>
    </ul>
    </li>
    <br>
    <% end %>