<h1> 

<%= form_for(@rating) do |f| %>

     <div>
    <%= f.label :score %>
    <%= f.number_field :score, min:0, max:5 %> 
    </div>
    <br>
    <br>
    <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
    </div>
    <%= f.hidden_field :game_id %>

    <%= f.submit "Rate" %>
    <% end %>