<%= form_for(@rating) do |f| %>

    <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>
    <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
    </div>
    <div>
    <%= f.label :score %>
    <%= f.number_field :score, min:0, max:5 %> 
    </div>
    <div>
    <%= f.label :year %>
    <%= f.text_field :year %>
    </div>
    <%= f.hidden_field :game_id %>

    <%= f.submit "submit" %>
    <% end %>