<h1> create a game </h1>

<%= render partial: 'layouts/errors', locals: {object: @game} %>

<%= form_for(@game) do |f| %>
    <div>
    <%= f.label :title %>
    <%= f.text_field :title %> 
    </div>  
    <div>
    <p> Genres <%= f.collection_select :genre_id, Genre.alpha, :id, :title %> </p>
    </div>
    <p> Platforms <%= f.collection_select :platform_id, Platform.alpha, :id, :name %> </p>
    <%= f.submit "create game" %>
    <% end %> 



    <% #Genres <%= select_tag "Genre", options_for_select(Game::GENRES) %>
    <% #Platforms <%= select_tag "Platform", options_for_select(Game::PLATFORMS) %>